.portfolio {
  height: 130vh;
  padding-top: 4rem;
}

.masthead {
  padding: 4.5rem 4rem;

}

.masthead-avatar {
  width: 240px;
  height: auto;
  margin-bottom: 1.2rem;
}
.form-control:focus {
  outline: none !;
  border-color: transparent;
}

.mastheadHeading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2C3E50;
  margin-bottom: 10px;
}

.dividerCustom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.dividerCustomLine {
  width: 100%;
  max-width: 5rem;
  height: 0.25rem;
  background-color: #2C3E50;
  border-radius: 1rem;
  
}

.dividerCustomLine:first-child {
  margin-right: 0.5rem;
}

.dividerCustomLine:last-child {
  margin-left: 0.5rem;
}

.dividerCustomIcon {
  color:#2C3E50;
  
}


.divider-custom-line {
  width: 100px;
  height: 3px;
  margin: 0 auto;
  margin-bottom: 20px !important;
  margin-bottom: 10px;
}

.divider-custom-icon {
  margin-bottom: 10px;
  font-size: 2rem;
}

.portfolioItem {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.portfolioImage {
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}

.portfolioItem:hover .portfolioImage {
  opacity: 0.5; 
}

.portfolioItem::after {
  content: "\f067"; /* Font Awesome icon for "+" */
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
  opacity: 0;
  background-color:#1ABC9C; 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

.portfolioItem:hover::after {
  opacity: 1;
}


.modal {
  background-color: rgba(13, 80, 174, 0.5); 
}

