.navbar {
  background-color: #2C3E50 !important;
}

.navbarBrand {
  font-size: 2rem !important;
  font-weight: 700;
}

.navItem {
  margin-left: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.navLink {
  padding: 10px 20px;
  border-radius: 10px; 
  transition: all 0.3s ease; 
  color: white !important;
}

.navLink:focus,
.navLink:active {
  background-color: #1abc9c; 
  color: white !important; 
}

@media (max-width: 768px) {
  .navbarBrand {
    font-size: 1.5rem; 
    padding-top: 15px;
  }
  .navbarNav {
    margin-bottom: 15px;
  }
}
